.wrap {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
}

.tabsBox {
  .at-tabs__item--active {
    color: #ff4800;
    .at-tabs__item-underline {
      background: #ff4800;
      border-bottom: 10px solid #ff4800;
      border-radius: 15px;
      transform: scaleX(.95);
    }
  }

  .at-tabs__item {
    // background: orange;
    padding: 24px 0px;
    margin-left: 80px;
    margin-right: 80px;
  }
  .at-tabs__underline {
    background: #fff;
  }
}

.badge {
  width: 690px;
  height: 343px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow:0px 2px 20px #ffeae2;
  margin-top: 30px;
  background: #fff;
  // display: flex;
  overflow: hidden;
  .badgeTxt {
    // flex: 1;
    width: 33.3%;
    float: left;
    // background: pink;
    text-align: center;
    .imgsrc {
      width: 140px;
      height: 140px;
      background: #ccc;
      border-radius: 100%;
      margin: 0 auto;
      margin-top: 60px;
    }
    .tits {
      margin-top: 35px;  
      font-size: 25px;
      // font-weight: 800;
    }
  }
}

.las {
  width: 690px;
  height: 121px;
  margin: 0 auto;
  border-radius: 25px;
  box-shadow:0px 2px 20px #ffeae2;
  margin-top: 30px;
  background: #fff;
  // display: flex;
  overflow: hidden;
  position: relative;
  .icons {
    position: absolute;
    width: 85px;
    height: 63px;
    top: 25px;
    left: 25px;
  }
  .nums {
    position: absolute;
    top: 47px;
    left: 104px;
    color: #ff4800;
    font-weight: 800;
    font-size: 30px;
  }

  .loads{
    width: 396px;
    height: 17px;
    // background: orange;
    position: absolute;
    top: 30px;
    left: 185px;
    border: 2px solid #ff4800;
    border-radius: 15px;

  }
}
.lines {
  width: 20%;
  height: 17px;
  border-radius: 15px;
  background: linear-gradient(to bottom right, #f5b4ff 0%, #ff8727 100%);
}
.txts {
  color: #ccc;
  font-size: 20px;
  position: absolute;
  top: 60px;
  left: 185px;
}
.numbers {
  position: absolute;
  top: 28px;
  right: 45px;
  color: #ff0000;
  font-size: 20px;
}