.wrap {
  // min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
  padding-top: 68px;
  position: relative;
}
.listWrap {
  width: 645px;
  height: 294px;
  background: #fff;
  margin-bottom: 55px;
  // border-radius: 15px;
  position: relative;
  Image {
    width: 645px;
    height: 294px;
  }
}
.rightTxt {
  width: 47px;
  height: 561px;
  position: absolute;
  right: 0;
  top: 88px;
}