.wrap {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
  .at-tabs__header {
    position: fixed;
    background: #fff;
    padding-bottom: 20px;
    border-bottom: 1px solid #f1f1f1;
    z-index: 100;
  }
  .at-tabs__body {
    margin-top: 100px;
  }
  .at-tabs__item--active {
    color: #ff4800;
    .at-tabs__item-underline {
      background: #ff4800;
      border-bottom: 10px solid #ff4800;
      border-radius: 15px;
      transform: scaleX(.95);
    }
  }

  .at-tabs__item {
    // background: orange;
    padding: 24px 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  // .at-tabs__underline {
  //   background: #fff;
  // }
}
.tags {
  top: 120px;
  width: 680px;
  margin: 0 auto;
  padding-top: 30px;
  // position: relative;
  // background: orange;
  .icons {
    margin-left: 15px;
    margin-right: 15px;
  }
  .at-tag {
    border-color: #9c9a9d;
    color: #9c9a9d;
    height: 40px;
    line-height: 40px;
    font-size: 23px;
    border: 0;
    border:1px solid #ccc;
  }
  .at-tag--active.at-tag--primary {
    color: #FFF;
    border-color: #ff4800;
    background-color: #ff4800;
    border:1px solid #ff4800;
    // background: linear-gradient(to bottom, #8b7a51 0%, #ff4800 100%);
  }
    
}

.listBox {
  // margin-top: 25px;
  padding-top: 20px;
  width: 692px;
  // display: flex;
  // background: orange;
  min-height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between; 
  .Boxs {
    width: 334px;
    min-height: 500px;
    padding-bottom: 25px;
    // text-align: center;
    // background: pink;
    // margin: 5px;
  }
  .wrapBoxs {
    width: 324px;
    height: 341px;
    // background: orangered;
    border-radius: 25px;
    box-shadow:5px 10px 15px #ddd;
    margin: 0 auto;
    margin-bottom: 35px;
    position: relative;
    .box_pic {
      width: 324px;
      height: 205px;
      border-top-left-radius:25px;
      border-top-right-radius:25px;
      background: orange;
      Image {
        width: 324px;
        height: 205px;
        display: block;
      }
    }
  }
}

.txta {
  width: 269px;
  height: auto;
  text-align: left;
  font-size: 24px;
  display: block;
  // background: orange;
  line-height: 30px;
  position: absolute;
  left: 0;right: 0;
  margin: 0 auto;
  top: 220px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.txtb {
  width: 269px;
  display: block;
  height: 30px;
  background: #fff;
  line-height: 30px;
  position: absolute;
  left: 0;right: 0;
  margin: 0 auto;
  text-align: left;
  bottom: 22px;
  color: #ccc;
  font-size: 22px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
}
.none {
  color: #ccc;
  text-align: center;
  margin: 30px auto;
  font-size: 25px;
}