.wrap {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
  .at-tabs__item--active {
    color: #ff4800;
    .at-tabs__item-underline {
      background: #ff4800;
      border-bottom: 10px solid #ff4800;
      border-radius: 15px;
      transform: scaleX(.95);
    }
  }

  .at-tabs__item {
    // background: orange;
    padding: 24px 0px;
    margin-left: 40px;
    margin-right: 40px;
  }
  // .at-tabs__underline {
  //   background: #fff;
  // }
}
.tags {
  top: 120px;
  width: 680px;
  margin: 0 auto;
  padding-top: 30px;
  // position: relative;
  // background: orange;
  .icons {
    margin-left: 15px;
    margin-right: 15px;
  }
  .at-tag {
    border-color: #9c9a9d;
    color: #9c9a9d;
    height: 40px;
    line-height: 40px;
    font-size: 23px;
    border: 0;
    border:1px solid #ccc;
  }
  .at-tag--active.at-tag--primary {
    color: #FFF;
    border-color: #ff4800;
    background-color: #ff4800;
    border:1px solid #ff4800;
    // background: linear-gradient(to bottom, #8b7a51 0%, #ff4800 100%);
  }
    
}