.listBox {
  margin: 25px;
  // display: flex;
  // justify-content: space-between;  
  .Boxs {
    width: 50%;
    float: left;
    margin-bottom: 25px;
    text-align: center;
    Image {
      width: 80%;
      height: 150px;
      display: block;
      margin: 0 auto;
      background: #ccc;
    }
  }
}