.wrap {
  margin: 20px;
  font-size: 33px;
  color: #393939;
  .tit {
    margin-bottom: 20px;
    font-size: 32px;
    // background: orange;
  }
  .botm {
    margin-top: 25px;
    .prev, .next, .submit {
      width: 150px;
      height: 70px;
      color: #fff;
      background: #2fb7f5;
      float: left;
      border-radius: 10px;
      line-height: 70px;
      text-align: center; 
      margin: 0 20px;
    }
    .nums {
      height: 70px;
      float: left;
      line-height: 70px;
    }
  }
  .modalText{
    text-align: center;
    .name {
      color: #2fb7f5;
      font-size: 45px;
      font-weight: 600;
    }
  }
  // .percent {
  //   // background: orange;
  // }
}