.wrap {
  text-align: center;
}
.bgs {
  width: 694px;
  height: 895px;
  margin: 0 auto;
  margin-top: 50px;
}

.sure {
  width: 250px;
  height: 83px;
  background: #ff4800;
  color: #fff;
  text-align: center;
  line-height: 83px;
  border-radius: 25px;
  margin: 0 auto;
  margin-top: 25px;
}