.wrap {
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  padding-top: 25px;
}
.boxs {
  width: 694px;
  min-height: 266px;
  margin: 0 auto;
  padding-top: 25px;
}

.box {
  width: 694px;
  height: 266px;
  background: #fff;
  margin: 0 auto;
  border-radius: 15px;
  box-shadow: 0px 2px 20px #e3e3e3;
  // background: #fff;
  margin-bottom: 35px;
  position: relative;
  z-index: 10;
  top: 36px;
  // overflow: hidden;
  .leftPic {
    width: 185px;
    height: 185px;
    // background: #eeeeee;
    position: absolute;
    left: 43px;
    top: 40px;
    text-align: center;
    display: flex; /*容器为伸缩盒*/
    align-items: center; /*纵轴方向上的对齐方式设置为居中*/
    image {
      width: 152px;
      height: 152px;
      margin: 0 auto;
    }
  }
  .rightTxt {
    width: 359px;
    // height: 61px;
    // background:orange;
    position: absolute;
    right: 62px;
    top: 90px;
    word-break: break-all;
    text-overflow: ellipsis;
    display: -webkit-box; /** 对象作为伸缩盒子模型显示 **/
    -webkit-box-orient: vertical; /** 设置或检索伸缩盒对象的子元素的排列方式 **/
    -webkit-line-clamp: 2; /** 显示的行数 **/
    overflow: hidden;
    font-size: 24px;
    line-height: 37px;
    Text {
      color: #b3846b;
    }
  }
  .look {
    width: 125px;
    height: 43px;
    color: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 39px;
    right: 46px;
    image {
      width: 125px;
      height: 43px;
    }
  }
}
.feat {
  width: 285px;
  height: 210px;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 35px;
  // background: orange;
  position: relative;
  image {
    width: 285px;
    height: 210px;
  }
  .btn {
    width: 255px;
    height: 80px;
    // background: orange;
    position: absolute;
    bottom: 0;
  }
}
