.wrap {
  text-align: center;
}
.bgs {
  width: 694px;
  height: 884px;
  margin: 0 auto;
}
.nums {
  position: absolute;
  margin: 0 auto;
  left: 0;right: 0;
  top: 536px;
  color: #fff;
  font-size: 41px;
  font-weight: 800;
}
.ewms {
  width: 408px;
  height: 408px;
  position: absolute;
  z-index: 10;
  top: 74px;
  display: block;
  margin: 0 auto;
  left: 0;right: 0;
}
.copyNums {
  width: 200px;
  height: 100px;
  // background: pink;
  position: absolute;
  margin: 0 auto;
  left: 0;right: 0;
  top: 590px;
}