.wrap {
  width: 100%;
  overflow: hidden;
  // margin: 20px;
  font-size: 33px;
  color: #393939;
  // position: fixed;
  .tit {
    width: 690px;
    // min-height: 100px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 34px;
    // padding-bottom: 34px;
    margin-bottom: 10px;
    font-size: 32px;
    border-radius: 25px;
    position: relative;
    // background: orange;
    // background: linear-gradient(to bottom, #ffdf97 0%, #ff4800 100%);
    .mains {
      width: 550px;
      min-height: 100px;
      // background: red;
      position: relative;
      left: 112px;
      word-wrap:break-word;
      // padding-top: 54px;
      color: #000;
      .voice {
        width: 40px;
        height: 40px;
        position: absolute;
        left: -70px;
        top: 0;
      }
    }
    .icons {
      width: 82px;
      height: 222px;
      position: absolute;
      right: 53px;
      top: -24px;
      // z-index: 10;
    }
  }
  .botm {
    margin-top: 25px;
    .prev, .next, .submit {
      width: 150px;
      height: 70px;
      color: #fff;
      background: #2fb7f5;
      float: left;
      border-radius: 10px;
      line-height: 70px;
      text-align: center; 
      margin: 0 20px;
    }
    .nums {
      height: 70px;
      float: left;
      line-height: 70px;
    }
  }
  .modalText{
    text-align: center;
    .name {
      color: #2fb7f5;
      font-size: 45px;
      font-weight: 600;
    }
  }
  // .percent {
  //   // background: orange;
  // }
}

.listsWrap {
  // 未选中状态
  .sea {
    width: 682px;
    min-height: 51px;
    border: 4px solid #fff;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow:0px 2px 20px #ffeae2;
    //background: linear-gradient(to bottom, #ffdf97 0%, #ff4800 100%);
    .box {
      // width: 453px;
      min-height: 57px;
      // background: orange;
      position: relative;
      left: 112px;
      word-wrap:break-word;
      border-left: 2px solid #f2f2f2;
      padding-left: 78px;
      .text {
        width: 450px;
        // background: orange;
      }
      .voice {
        position: absolute;
        left: -103px;
        width: 100px;
        height: 100%;
        // background: pink;
        top: 0;
        Image {
          width: 40px;
          height: 40px;
          position: absolute;
          margin:auto;
          left:0;
          top:0;
          right:0;
          bottom:0;
        }
      }
    }
  }
  // 选对状态
  .seaActive {
    width: 682px;
    min-height: 51px;
    border: 4px solid #ff4800;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow:0px 2px 20px #ffeae2;
    // background: linear-gradient(to bottom, #ffdf97 0%, #ff4800 100%);
    .box {
      width: 453px;
      min-height: 57px;
      // background: orange;
      position: relative;
      left: 112px;
      word-wrap:break-word;
      border-left: 2px solid #ff4800;
      padding-left: 78px;
      .voice {
        position: absolute;
        left: -103px;
        width: 100px;
        height: 100%;
        // background: pink;
        top: 0;
        Image {
          width: 40px;
          height: 40px;
          position: absolute;
          margin:auto;
          left:0;
          top:0;
          right:0;
          bottom:0;
        }
      }
    }
  }
  // 选错状态
  .seaFalse {
    width: 682px;
    min-height: 51px;
    border: 4px solid #9e7de8;
    border-radius: 25px;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 28px;
    padding-bottom: 28px;
    box-shadow:0px 2px 20px #ffeae2;
    // background: linear-gradient(to bottom, #ffdf97 0%, #ff4800 100%);
    .box {
      width: 453px;
      min-height: 57px;
      // background: orange;
      position: relative;
      left: 112px;
      word-wrap:break-word;
      border-left: 2px solid #9e7de8;
      padding-left: 78px;
      .voice {
        position: absolute;
        left: -103px;
        width: 100px;
        height: 100%;
        // background: pink;
        top: 0;
        Image {
          width: 40px;
          height: 40px;
          position: absolute;
          margin:auto;
          left:0;
          top:0;
          right:0;
          bottom:0;
        }
      }
    }
  }
}

.botomIcon {
  margin: 0 auto;
  min-height: 62px;
  padding-bottom: 200px;
  padding-top: 30px;
  // background: orange;
  .box {
    // background: pink;
    width: 700px;
    min-height: 62px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    // justify-content: space-between;
    align-content:flex-start;
    .icons {
      // width: 100px;
      height: 62px;
      margin-top: 0;
      // margin-left: 20px;
      // margin-bottom: 30px;
      margin: 10px;
      margin-bottom: 20px;
      // background: pink;
      // float: left;
      flex: 1;
      // display: flex;
      // flex-direction: column;
      // flex: 1;
      .num {
        width: 62px;
        height: 62px;
        // background: #4bf4fc;
        border: 1px solid #ff4800;
        border-radius: 100%;
        line-height: 62px;
        text-align: center;
        margin: 0 auto;
        color: #ff4800;
      }
      .numActive {
        width: 62px;
        height: 62px;
        background: #999;
        border-radius: 100%;
        line-height: 62px;
        text-align: center;
        margin: 0 auto;
        background: linear-gradient(to bottom, #ffdf97 0%, #ff4800 100%);
        color: #fff;
      }
    }
  }
}
.submits {
  width: 251px;
  height: 81px;
  background: #ff4800;
  color: #FFF;
  line-height: 81px;
  text-align: center;
  border-radius: 25px;
  margin: 0 auto;
  // margin-top: 57px;
  margin-bottom: 150px;
}
.fc {
  .mia {
    width: 750px;
    height: 100vh;
    background: #000;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 10;
    opacity: .3;
  }

  .seas {
    width: 500px;
    height: 581px;
    // background: orange;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 327px;
    z-index: 11;
    // display: none;
  }
  .seb {
    width: 582px;
    height: 461px;
    // background: orange;
    margin: 0 auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 327px;
    z-index: 11;
    // display: none;
  }
}
.dn {display: none;}
.botomSub {
  width: 750px;
  height: 160px;
  background: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  padding-top: 10px;
}

.brr {
  opacity: 0;
}