// @import "@styles/theme.scss";

.user {
  position: relative;
  // background: orange;
  color: #000;
  // padding-bottom: 60px;
  .userBg {
    Image {
      width: 750px;
      height: 382px;
    }
  }
  .headPic {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    display: block;
    overflow: hidden;
    background: #fff;
    position: absolute;
    top: 171px;
    left: 48px;
  }
  .nick {
    font-size: 33px;
    color: #000;
    position: absolute;
    top: 207px;
    left: 182px;
    color: #fff;
    font-weight: 800;
  }

  .user_box {
    width: 654px;
    height: 407px;
    background: #fff;
    // margin: 200px auto;
    border-radius: 20px;
    box-shadow:0px 2px 20px #ffeae2;
    background: #fff;
    // overflow: hidden;
    position: absolute;
    top: 303px;
    left: 0;right: 0;
    margin: 0 auto;
    .boxs {
      width: 654px;
      height: 298px;
      // background: orange;
      position: relative;
      top: 35px;
      Button {
        width: 654px;
        height: 75px;
        // background:orange;
        position: absolute;
        // opacity: 0;
        // top: 300px;
        left: 0; right: 0;
        margin: 0 auto;
        z-index: 1000;
      }
      .linksView {
        width: 654px;
        height: 75px;
        background:orange;
        position: absolute;
        opacity: 0;
        // top: 300px;
        left: 0; right: 0;
        margin: 0 auto;
        z-index: 999;
      }
      .items {
        height: 75px;
        line-height: 75px;
        padding-left: 50px;
        position: relative;
        font-size: 26px;
        font-weight: 800;
        Image {
          position: absolute;
          width: 18px;
          height: 30px;
          top: 20px;
          right: 84px;
        }
      }
      .items:active {
        height: 75px;
        line-height: 75px;
        padding-left: 50px;
        position: relative;
        font-size: 26px;
        font-weight: 800;
        background: #f2f2f2;
        Image {
          position: absolute;
          width: 18px;
          height: 30px;
          top: 20px;
          right: 84px;
        }
      }
    }
  }
  .logo {
    width: 88px;
    height: 99px;
    position: absolute;
    top: 797px;
    left: 0;right: 0;
    margin: 0 auto;
  }
}
.days {
  position: absolute;
  top: 54px;
  right: 67px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
}
.week {
  position: absolute;
  top: 113px;
  right: 67px;
  font-size: 30px;
  color: #fff;
  font-weight: 800;
  font-size: 27px;
}