// @import "@styles/theme.scss";

.user {
  position: relative;
  .user__wrap {
    background: #f4f4f4;
  }
  .panel_top {
    border-top: 0;
    margin-top: 10px;
    .my-panel-header{
      border: 0;
    }
    .my-panel-body{
      display: none;
    }
  }
  .panel_first {
    border-top: 0;
    margin-top: 10px;
    .my-panel-body{
      display: block;
    }
  }
}

