.wrap {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
}
.links {
  width: 700px;
  height: 130px;
  background: #fff;
  margin: 0 auto;
  border-radius: 15px;
  margin-top: 35px;
  text-align: center;
  line-height: 130px;
}