.wrap {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
  Video {
    width: 100%;
  }
  .tits {
    // width: 750px;
    min-height: 102px;
    // background: orange;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
    .titleTxt {
      width: 557px;
      font-size: 31px;
      color: #000;
      font-weight: 600;
      // background: orange;
      word-wrap:break-word;
    }
    .incona {
      width: 41px;
      text-align: center;
      font-size: 18px;
      color: #9f9f9f;
      position: absolute;
      right: 118px;
      top: 37px;
      Image {
        width: 41px;
        height: 41px;
      }
    }
    .inconb {
      width: 41px;
      text-align: center;
      font-size: 18px;
      color: #9f9f9f;
      position: absolute;
      top: 37px;
      right: 30px;
      Image {
        width: 41px;
        height: 41px;
      }
      .sure {
        width: 81px;
        height: 91px;
        // background: orange;
        position: absolute;
        top: -20px;right: -20px;
        opacity: 0;
      }
    }
  }
  .detail {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 17px;
    margin-bottom: 23px;
    color: #999999;
    font-size: 25px;
  }
  .main {
    padding-left: 30px;
    padding-right: 30px;
    line-height: 38px;
    color: #999999;
    font-size: 21px;
    word-break:break-all; 
  }
}
