.wrapBox {
  min-height: 90vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  // display: flex;
  // align-items: center;
  // justify-content: center; 
}
.boxa {
  width: 690px;
  height: 419px;
  background: #fff;
  margin: 0 auto;
  margin-top: 10px;
  border-radius: 15px;
  text-align: center;
  // line-height: 250px;
  Image {
    width: 690px;
    height: 419px;
  }
}
